<?xml version="1.0" ?>
<model>
    <name>Turtlebot3 State 2 World</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Omur Arslan</name>
        <email>omurarslan.phd@gmail.com</email>
    </author>

    <description>
        TurtleBot3 Stage 2 World, built based on the TurtleBot Stage 2 model for Gazebo Classic
    </description>
</model>
