<?xml version="1.0"?>

<model>
  <name>TurtleBot3 World</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf.xacro</sdf>  

  <author>
    <name>Omur Arslan</name>
    <email>omurarslan.phd@gmail.com</email>
  </author>

  <description>
    TurtleBot3 World with a ROS symbol, built based on the TurtleBot World model for Gazebo Classic 
  </description>
</model>
